# Python bytecode
_pycache_/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db
